@model assigMVCPeople.Models.Country

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <h4 class="card-header text-center">Details of Country</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
      
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.InternationalCallingCode)
        </dt>
       
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.InternationalCallingCode)
        </dd>
    </dl>
</div>
<div>
 @*   <a asp-action="Edit" asp-route-id="@Model?.CountryId">Edit</a> |*@
    <a asp-action="Index" class="go-btn">Go back</a>
</div>
