@model CreateCityViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a City</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label"></label>
                <input asp-for="CityName" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <br/>
            <label asp-for="Countries" class="control-label">Choose a Country</label>
            <select asp-for="CountryId" class="form-control">
                @foreach (Country country in Model.Countries)
                {
                    <option value="@country.CountryId">@country.CountryName</option>
                }
            </select>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index" class="go-btn">Back to list of Cities</a>
</div>