@model Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details like regular</h1>
<dl>
    <dt>Name</dt>
    <dd>@Model.Name</dd>

    <dt>PhoneNumber</dt>
    <dd>@Model.PhoneNumber</dd>

    <dt>City</dt>
    <dd>@Model.City</dd>
</dl>
<a asp-action="Index">Go back to people</a>
