@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h1>People page</h1>

<a class="btn btn-primary" id="create-btn" style="height:auto;" asp-action="Create">Add a person to the list</a>
<br/>
<br />

@*<div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" asp-action="People(search)"/>
    <span class="input-group-text border-10" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</div>*@
<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
</div>

@foreach (Person person in Model)
{
    if (person != null) { 
        <partial name="_PeopleDisplay" model="person"></partial>

    }
 }

@*@foreach (Person person in Model)
{
    @Html.RadioButtonFor(p => p.SelectName, person.Id, (person.IsSelect.Value) ? new {@checked = "checked"} : null )@person.Name
}*@

            

