@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h1>People page</h1>

<a class="btn btn-primary" id="create-btn" style="height:auto;" asp-action="Create">Add a person to the list</a>
<br />
<a asp-action="Search">Search</a>

<br />
<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
</div>

@foreach (Person person in Model)
{
    if (person != null)
    {
        <partial name="_PeopleDisplay" model="person"></partial>
    }
 }
 <br/>
 <a asp-action="Index" asp-controller="Country">Country</a>
<a asp-action="Index" asp-controller="City">City</a>
