@model List<Person>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create">Add people to the List</a>
    
<div class="row">
    <div class="col-3">Name</div>
    <div class="col-3">PhoneNumber</div>
    <div class="col-3">City</div>
</div>
@foreach (Person person in Model)
{
    <div class="row">
        <div class="col-3">@person.Name</div>
        <div class="col-3">@person.PhoneNumber</div>
        <div class="col-3">@person.City</div>
    </div>
}

            

