@model PeopleViewModel
@{
    ViewData["Title"] = "Search";
}

<br/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <p>Filter: <input type="text" name="search" placeholder="Serach"><input type="submit" value="FilterString" /></p>
        </form>
    </div>
</div>

<div id="result"></div>

   @* @Html.RadioButtonFor(p => p.Name, person.Id, (person.IsSelect.Value) ? new {@checked = "checked"} : null )*@

