
@{
    ViewData["Title"] = "Index";
}

<h1>People with Ajax</h1>

<button class="btn-light" onclick="getAjaxPeopleList('@Url.Action("PartialViewPeople","People")')">Get people in a list</button>
<div class="row"></div>
<br />
<div class="form-group col-sm-11">
    <input class="form-control" type="text" name="Name" id="idName" placeholder="Person Name" />
</div>

<button class="btn-light" onclick="ajaxPost('@Url.Action("PartialViewDetails","People")', 'idName')">Detail of this person</button>

<button class="btn-light" onclick="ajaxPost('@Url.Action("AjaxDelete","People")', 'idName')">Delete</button>
<br />

<div id="result"></div>
