@model List<Language>

<h2>Language list</h2>

<div class="row">
    <div class="col-12">LanguageName</div>
</div>
@foreach (Language language in Model)
{
    <partial name="_LanguageList" model="language"></partial>
}
