@model Person

<div class="row">
    <div class="col-3">@Model.Name</div>
    <div class="col-3">@Model.PhoneNumber</div>
    <div class="col-3">@Model.City.CityName</div>
    <button class="col-3 btn btn-dark btn-sm">@Html.ActionLink("Details", "Details", "People", new {id = Model.Id})</button>
</div>