@model Person

<h2>People Display --partialView</h2>

<div class="row">
    <div class="col-3">@Model.Name</div>
    <div class="col-3">@Model.PhoneNumber</div>
    <div class="col-3">@Model.City</div>
    <button class="col-1 btn btn-dark">@Html.ActionLink("Details", "Details", "People", new {id = Model.Id})</button>
</div>