@model Person

<h2>Person details for 1</h2>
<div class="row">
    <div class="col-3">
        <div class="list-group">
            <div class="list-group-item active" aria-current="true">@Model.Name</div>
            <div class="list-group-item">@Model.PhoneNumber</div>
            <div class="list-group-item">@Model.City.CityName</div>
            <div class="list-group-item">
                @foreach (Language lang in Model.Languages)
                {
                    <dd>@lang.LanguageName</dd>
                }
            </div>
            <a asp-action="Index">Go back to people list</a>
        </div>
    </div>

</div>
@*@model.city.country.countryname*@